# ==========================================
# Django & Python (Archivos compilados y caché)
# ==========================================
*.pyc
*.pyo
*.pyd
__pycache__/
*.cfg
.pytest_cache/

# Archivos de medios y estáticos locales
/media/
/staticfiles/

# ==========================================
# Base de Datos (SQLite)
# ==========================================
# Evita subir tu base de datos de desarrollo y pruebas
*.sqlite3
*.db

# ==========================================
# Entornos Virtuales y Dependencias
# ==========================================
.venv/
venv/
env/
ENV/

# ==========================================
# Configuración local y Secretos
# ==========================================
.env

# ==========================================
# Editores de Código (IDE)
# ==========================================
.vscode/
.idea/
.DS_Store